
<ng-container *ngIf="!email">
<app-auth-page-layout>
  <app-register (onUserCheck)="onFacultySelected($event)" class="flex flex-col flex-1 w-full overflow-y-auto lg:w-1/2 no-scrollbar"/>
</app-auth-page-layout>
</ng-container>
<ng-container *ngIf="email">
<div>
  
<div class="mx-auto w-full max-w-[630px] text-center">
      <h3 class="mb-4 font-semibold text-gray-800 text-theme-xl dark:text-white/90 sm:text-2xl">
        Application Form for ZED Master Trainer/Assessor/Consultant Training
      </h3>

      <p class="text-sm text-gray-500 dark:text-gray-400 sm:text-base">
         (To refer to the eligibility criteria, <a href="assets/pdffiles/ZED Trainings_Professional's_Criteria.pdf" target="_blank" download="ZED Trainings_Professional's_Criteria.pdf" class="text-brand-500 hover:text-brand-600 dark:text-brand-400">
          Click Here
        </a>)
      </p>
    </div>

    <app-alert
          variant="warning"
          title="Important"
          [message]="'Fields marked in * are mandatory to fill.'"
          [showLink]="false"
        />
<form (ngSubmit)="onRegisterPost()" [formGroup]="registerForm">
  <div class="grid grid-cols-1 gap-6 xl:grid-cols-1">
    <div class="space-y-6">
    <app-component-card>
    <div class="flex flex-wrap items-center gap-8">
      Applying for the Training of:<span class="text-error-500">*</span>
    <!-- <app-radio [id]="'option1'" [name]="'group1'" [value]="'Master Trainer'" [checked]="selectedRole === 'Master Trainer'"
      [label]="'Master Trainer'" [disabled]="false" (valueChange)="handleRadioChange('Master Trainer')"/> -->
    <app-radio [id]="'option2'" [name]="'group1'" [value]="'Assessor'" [checked]="selectedRole === 'Assessor'"
      [label]="'Zed Assessor'" [disabled]="false" (valueChange)="handleRadioChange('Assessor')"/>
    <app-radio [id]="'option3'" [name]="'group1'" [value]="'ZEDConsultant'" [checked]="selectedRole === 'ZEDConsultant'"
      [label]="'Zed Consultant'" [disabled]="false" (valueChange)="handleRadioChange('ZEDConsultant')"/>
      <p *ngIf="registerForm.get('role')?.invalid && (registerForm.get('role')?.touched || registerForm.get('role')?.dirty)" class="mt-1.5 text-xs text-error-500">Applying for is Required. </p>
  </div>
    <!-- <div>
      <app-label>(<strong>jpg,png</strong> should not exceed 500 KB)</app-label>
      <app-imagefile-input (change)="handlePhotoChange($event)" className="custom-class"></app-imagefile-input>
      <p *ngIf="registerForm.get('profileimage')?.invalid && (registerForm.get('profileimage')?.touched || registerForm.get('profileimage')?.dirty)" class="mt-1.5 text-xs text-error-500">Image is Required. </p>
    </div> -->
    <div>
      <img *ngIf="imagePreview" [src]="imagePreview" alt="Preview" width="200">
    </div>
  </app-component-card>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-6 xl:grid-cols-2"> 
    
    <div class="space-y-6">
    <app-component-card title="Id Proof Details">    
        <div>
      <app-label>Document Type:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="IDProofDocumentTypeOptions"
        placeholder="Select an option"
        [value]="IdProofSeelcted"
        (valueChange)="handleIDProofDocTypeSelectChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="registerForm.get('idproofdoctype')?.invalid && (registerForm.get('idproofdoctype')?.touched || registerForm.get('idproofdoctype')?.dirty)" class="mt-1.5 text-xs text-error-500">Document Type is required. </p>
    </div>
    <div>
      <app-label for="docnumber">Document Number:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input   type="text" id="docnumber" formControlName="docnumber" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('docnumber')?.invalid && (registerForm.get('docnumber')?.touched || registerForm.get('docnumber')?.dirty)" class="mt-1.5 text-xs text-error-500">Document Number is required. </p>
        </div>
    </div>
  </app-component-card>
    </div>

    <div class="space-y-6">
    <app-component-card title=":">
    <div>
      <app-label for="nameondocument">Name as per Document:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input   type="text" id="nameondocument" formControlName="nameondocument" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('nameondocument')?.invalid && (registerForm.get('nameondocument')?.touched || registerForm.get('nameondocument')?.dirty)" class="mt-1.5 text-xs text-error-500">Required Field.</p>
        </div>
    </div>
    <div>
      <app-label>Proof</app-label>
      <a style="cursor: pointer;" (click)="downloadFile()">Download</a>
      <!-- <app-file-input (change)="handleIdProofPhotoChange($event)" className="custom-class"></app-file-input>
      <p *ngIf="registerForm.get('idproofphoto')?.invalid && (registerForm.get('idproofphoto')?.touched || registerForm.get('idproofphoto')?.dirty)" class="mt-1.5 text-xs text-error-500">ID Proof required.</p> -->
    </div>
  </app-component-card>
    </div>
  </div>
  
<div class="grid grid-cols-1 gap-6 xl:grid-cols-1">
    <div class="space-y-6">
    <app-component-card>
    <div class="flex flex-wrap items-center gap-8">
      <ng-container *ngIf="selectedRole == 'Assessor'">
      Nominated through (only for ZED Assessors Training applicants):<span class="text-error-500">*</span>
      </ng-container>
      <ng-container *ngIf="selectedRole == 'ZEDConsultant'">
      Associated with (only for ZED Consultants Training applicants):<span class="text-error-500">*</span>
      </ng-container>

      <ng-container *ngIf="selectedRole == 'Assessor'">
    <app-radio [id]="'option11'" [name]="'group2'" [value]="'Certification Body (CB)'" [checked]="selectedNomination === 'Certification Body (CB)'"
      [label]="'Certification Body (CB)'" [disabled]="false" (valueChange)="handleNominationRadioChange('Certification Body (CB)')"/>
    <app-radio [id]="'option22'" [name]="'group2'" [value]="'Credit Rating Agency (CRA)'" [checked]="selectedNomination === 'Credit Rating Agency (CRA)'"
      [label]="'Credit Rating Agency (CRA)'" [disabled]="false" (valueChange)="handleNominationRadioChange('Credit Rating Agency (CRA)')"/>
    <app-radio [id]="'option33'" [name]="'group2'" [value]="'Inspection Body (IB)'" [checked]="selectedNomination === 'Inspection Body (IB)'"
      [label]="'Inspection Body (IB)'" [disabled]="false" (valueChange)="handleNominationRadioChange('Inspection Body (IB)')"/>
      </ng-container>
      <ng-container *ngIf="selectedRole == 'ZEDConsultant'">
      <app-radio [id]="'option55'" [name]="'group2'" [value]="'ZED Consultant'" [checked]="selectedNomination === 'ZED Consultant'"
      [label]="'ZED Consultant'" [disabled]="false" (valueChange)="handleNominationRadioChange('ZED Consultant')"/>
      </ng-container>

    <app-radio [id]="'option44'" [name]="'group2'" [value]="'Freelancer'" [checked]="selectedNomination === 'Freelancer'"
      [label]="'Freelancer'" [disabled]="false" (valueChange)="handleNominationRadioChange('Freelancer')"/>
      <p *ngIf="registerForm.get('nominatedthrough')?.invalid && (registerForm.get('nominatedthrough')?.touched || registerForm.get('nominatedthrough')?.dirty)" class="mt-1.5 text-xs text-error-500">Select any.</p>
      
  </div>  
    
  </app-component-card>

    </div>
  </div>
  <div class="grid grid-cols-1 gap-6 xl:grid-cols-2" *ngIf="(selectedNomination && selectedNomination != 'Freelancer')">
  <div class="space-y-6">
  <div *ngIf="selectedRole == 'ZEDConsultant'">
      <app-label for="consultantorg">Consulting Organization:<span class="text-error-500">*</span></app-label>
      <div class="relative">
      <input  type="text" id="consultantorg" formControlName="consultantorg" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">        
      </div>
    </div>
    <div *ngIf="selectedRole == 'Assessor'">
      <app-label for="accessorcbidcra">CB/IB/CRA Name:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="accessorcbidcra" formControlName="accessorcbidcra" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        </div>
    </div>
    <div>
      <app-label for="coordinatorname">Name of the Coordinator:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="coordinatorname" formControlName="coordinatorname" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('coordinatorname')?.invalid && (registerForm.get('coordinatorname')?.touched || registerForm.get('coordinatorname')?.dirty)" class="mt-1.5 text-xs text-error-500">Required Field.</p>
        </div>
    </div>
    </div>

  <div class="space-y-6">
  <div>
      <app-label for="coordinatoremail">Coordinator Email:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="coordinatoremail" formControlName="coordinatoremail" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('coordinatoremail')?.invalid && (registerForm.get('coordinatoremail')?.touched || registerForm.get('coordinatoremail')?.dirty)" class="mt-1.5 text-xs text-error-500">Required Field.</p>
        </div>
    </div>
    <div>
      <app-label for="coordinatorphone">Coordinator’s Phone:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="coordinatorphone" formControlName="coordinatorphone" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('coordinatorphone')?.invalid && (registerForm.get('coordinatorphone')?.touched || registerForm.get('coordinatorphone')?.dirty)" class="mt-1.5 text-xs text-error-500">Valid Number is Required.</p>
        </div>
    </div>
    </div>
  </div>
  <!--Personal Detail-->
  <div class="grid grid-cols-1 gap-6 xl:grid-cols-3">    
    <div class="space-y-6">
    <app-component-card title="1. Personal Details:">    
    <div>
      <app-label for="FirstName">First Name:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="FirstName" formControlName="FirstName" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('FirstName')?.invalid && (registerForm.get('FirstName')?.touched || registerForm.get('FirstName')?.dirty)" class="mt-1.5 text-xs text-error-500">Required Field.</p>
        </div>
    </div>
    <div>
      <app-label for="MobileNo">Mobile Number:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="MobileNo" formControlName="MobileNo" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('MobileNo')?.invalid && (registerForm.get('MobileNo')?.touched || registerForm.get('MobileNo')?.dirty)" class="mt-1.5 text-xs text-error-500">Correct Mobile Number is required.</p>
        </div>
    </div>
  </app-component-card>
    </div>

    <div class="space-y-6">
    <app-component-card title=":">
    <div>
      <app-label for="MiddleName">Middle Name:</app-label>
      <div class="relative">
        <input  type="text" id="MiddleName" formControlName="MiddleName" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <!-- <p *ngIf="detailForm.get('qualification')?.invalid && (detailForm.get('qualification')?.touched || detailForm.get('qualification')?.dirty)" class="mt-1.5 text-xs text-error-500"> Please enter valid Qualification. </p> -->
        </div>
    </div>
    <div>
      <app-label>Date of Birth:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <app-date-picker
        id="date-picker"       
        placeholder="Select a date"
        (dateChange)="handleDOBChange($event)"/>
        <p *ngIf="registerForm.get('DOB')?.invalid && (registerForm.get('DOB')?.touched || registerForm.get('DOB')?.dirty)" class="mt-1.5 text-xs text-error-500">Required Field.</p>
        </div>
    </div>
    
  </app-component-card>
    </div>
    <div class="space-y-6">
    <app-component-card title=":">
    <div>
      <app-label for="LastName">Last Name:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="LastName" formControlName="LastName" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('LastName')?.invalid && (registerForm.get('LastName')?.touched || registerForm.get('LastName')?.dirty)" class="mt-1.5 text-xs text-error-500">Required Field.</p>
        </div>
    </div>
    
    <div>
      <app-label for="ParentName">Father/Mother Name</app-label>
      <div class="relative">
        <input  type="text" id="input" formControlName="ParentName" class="border-error-300 form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">        
        </div>
    </div>
  </app-component-card>
    </div>
    
  </div>

  <!--Mailling Address-->
  <div class="grid grid-cols-1 gap-6 xl:grid-cols-3">    
    <div class="space-y-6">
    <app-component-card title="2. Mailing Address(Office/Home):">    
    <div>
      <app-label for="Mailingaddress">Mailing Address:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <textarea formControlName="Mailingaddress"  rows="10" class="w-full rounded-lg border px-4 py-2.5 text-sm shadow-theme-xs focus:outline-hidden bg-transparent border-gray-300 focus:border-error-300 focus:ring-3 focus:ring-error-500/10 dark:border-gray-700 dark:bg-gray-900 dark:text-white/90 dark:focus:border-error-800"></textarea>
        <p *ngIf="registerForm.get('Mailingaddress')?.invalid && (registerForm.get('Mailingaddress')?.touched || registerForm.get('Mailingaddress')?.dirty)" class="mt-1.5 text-xs text-error-500">Required Field.</p>
        </div>
    </div>
    
  </app-component-card>
    </div>

    <div class="space-y-6">
    <app-component-card title=":">
      <div>
      <app-label for="State">State:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="State" formControlName="State" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('State')?.invalid && (registerForm.get('State')?.touched || registerForm.get('State')?.dirty)" class="mt-1.5 text-xs text-error-500">Required required. </p>
        </div>
    </div>
        <!-- <div>
      <app-label>State:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="StateOptions"
        placeholder="Select an option"
        [value]="SelectedState"
        (valueChange)="handleStateChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="registerForm.get('State')?.invalid && (registerForm.get('State')?.touched || registerForm.get('State')?.dirty)" class="mt-1.5 text-xs text-error-500">Required required. </p>
    </div> -->
    <div>
      <app-label for="District">District:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="District" formControlName="District" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('District')?.invalid && (registerForm.get('District')?.touched || registerForm.get('District')?.dirty)" class="mt-1.5 text-xs text-error-500">Required required. </p>
        </div>
    </div>
        <!-- <div>
      <app-label>District:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="districtOptions"
        placeholder="Select an option"
        [value]="districtSelect"   
        (valueChange)="handleDistrictChange($event)"     
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="registerForm.get('District')?.invalid && (registerForm.get('District')?.touched || registerForm.get('District')?.dirty)" class="mt-1.5 text-xs text-error-500">Required required. </p>
    </div> -->
    <div>
      <app-label for="City">City:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="City" formControlName="City" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('City')?.invalid && (registerForm.get('City')?.touched || registerForm.get('City')?.dirty)" class="mt-1.5 text-xs text-error-500">Required required. </p>
        </div>
    </div>
    
  </app-component-card>
    </div>
    <div class="space-y-6">
    <app-component-card title=":">
    <div>
      <app-label for="Pincode">Pincode:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="Pincode" formControlName="Pincode" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('Pincode')?.invalid && (registerForm.get('Pincode')?.touched || registerForm.get('Pincode')?.dirty)" class="mt-1.5 text-xs text-error-500">Required required. </p>
        </div>
    </div>
    <div>
      <app-label for="MDMobile">Mobile Number:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" id="MDMobile" formControlName="MDMobile" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('MDMobile')?.invalid && (registerForm.get('MDMobile')?.touched || registerForm.get('MDMobile')?.dirty)" class="mt-1.5 text-xs text-error-500">Required required. </p>
        </div>
    </div>
    <div>
      <app-label for="Email">Email<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input  type="text" formControlName="Email" id="Email" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="registerForm.get('Email')?.invalid && (registerForm.get('Email')?.touched || registerForm.get('Email')?.dirty)" class="mt-1.5 text-xs text-error-500">Required required. </p>
        </div>
    </div>
  </app-component-card>
    </div>
    
  </div>

  <!--Language-->
  <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">    
    <div class="space-y-6">
    <app-component-card title="3.Spoken Language:">    
        <div>
      <app-label>Primary:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="languageOptions"
        placeholder="Select an option"
        [value]="speakinglangSelect"
        (valueChange)="handlePrimaryLangSelectChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="registerForm.get('PrimaryLanguage')?.invalid && (registerForm.get('PrimaryLanguage')?.touched || registerForm.get('PrimaryLanguage')?.dirty)" class="mt-1.5 text-xs text-error-500">Required field.</p>
    </div>
    <div>
      <app-label for="PrimaryLangOthers">Others:</app-label>
      <div class="relative">
        <input  type="text" id="PrimaryLangOthers" formControlName="PrimaryLangOthers" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">        
        </div>
    </div>
  </app-component-card>
    </div>

    <div class="space-y-6">
    <app-component-card title="4.Written Language:">
        <div>
      <app-label>Primary:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="languageOptions"
        placeholder="Select an option"
        [value]="writinglangSelect"
        (valueChange)="handlePrimaryWriteLangSelectChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="registerForm.get('PrimaryLanguage')?.invalid && (registerForm.get('PrimaryLanguage')?.touched || registerForm.get('PrimaryLanguage')?.dirty)" class="mt-1.5 text-xs text-error-500">Required field.</p>
    </div>
    <div>
      <app-label for="WritingLangOthers">Others:</app-label>
      <div class="relative">
        <input  type="text" id="WritingLangOthers" formControlName="WritingLangOthers" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">        
        </div>
    </div>
    
  </app-component-card>
    </div>
    
    
  </div>
  <ng-container *ngIf="qualificationCollection.length">
  <app-qualification [qualificationList]="qualificationCollection" (onQualificationSubmit)="onCollectQualification($event)"></app-qualification>
  </ng-container>

  <ng-container *ngIf="experienceCollection.length">
  <app-experience [experienceList]="experienceCollection" (onExperienceSubmit)="onCollectExperience($event)"></app-experience>
  </ng-container>

  <ng-container  *ngIf="skillsCollection.length">
  <app-technicalskills [skillList]="skillsCollection"  (onSkillSubmit)="onCollectSkills($event)"></app-technicalskills>
  </ng-container>
  <div class="flex items-center justify-between">
  <div class="flex items-center gap-3">
            <app-checkbox
              [(checked)]="isaccepted"
              (checkedChange)="onTermAccept($event)"
              label="I hereby declare that all the particulars furnished on this application form are true and correct to the best of my knowledge."
            />
          </div>

    </div>
    
    <div *ngIf="errormessage" class="grid grid-cols-1 gap-6 xl:grid-cols-1">
    <app-component-card>      
      <div>
        <app-alert
          variant="error"
          title="Error Message"
          [message]="errormessage"
          [showLink]="false"
        />
      </div>
    </app-component-card>
  </div>
    <div *ngIf="successmessage" class="grid grid-cols-1 gap-6 xl:grid-cols-1">
    <app-component-card>      
      <div>
        <app-alert
          variant="success"
          title="Error Message"
          [message]="successmessage"
          [showLink]="false"
        />
      </div>
    </app-component-card>
  </div>
  

  <div class="grid grid-cols-1 gap-6 xl:grid-cols-4">
    <div class="space-y-6"></div>
    <div class="space-y-6"></div>
    <div class="space-y-6"></div>
<div class="space-y-6">
  <!-- <button (btnClick)="onRegisterPost()"
  class="flex items-center justify-center w-full px-4 py-3 text-sm font-medium text-white transition rounded-lg bg-brand-500 shadow-theme-xs hover:bg-brand-600">
  Submit Application
  </button> -->
</div>
</div>
  <div>
          
        </div>
  </form> 
</div>
</ng-container>