
<div *ngIf="errormessage">
    <app-component-card>      
      <div>
        <app-alert
          variant="error"
          title="Error Message"
          [message]="errormessage"
          [showLink]="false"
        />
      </div>
    </app-component-card>
  </div>

  <div *ngIf="successmessage">
    <app-component-card>      
      <div>
        <app-alert
          variant="success"
          title="Success Message"
          [message]="successmessage"
          [showLink]="false"
        />
      </div>
    </app-component-card>
  </div>

<form (ngSubmit)="onSubmit()" [formGroup]="detailForm" class="space-y-6">
<app-component-card title="Create Programme">
  <div class="space-y-6">
    <div>
      <app-label>Programme Type:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="programmetypeOptions"
        placeholder="Select an option"
        [value]="selectedProgrammetypeOption"
        (valueChange)="handleProgrammeTypeSelectChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="detailForm.get('ProgrammeType')?.invalid && (detailForm.get('ProgrammeType')?.touched || detailForm.get('ProgrammeType')?.dirty)" class="mt-1.5 text-xs text-error-500"> Please Select Programme Type. </p>
    </div>    
    <div>
      <app-label for="input">Start Date (MM/DD/YYYY):<span class="text-error-500">*</span></app-label>
      <app-date-picker
        id="date-picker"       
        placeholder="Select a date"
        (dateChange)="handleStartDateChange($event)"/>
        <p *ngIf="detailForm.get('StartDate')?.invalid && (detailForm.get('StartDate')?.touched || detailForm.get('StartDate')?.dirty)" class="mt-1.5 text-xs text-error-500">Start Date is required.</p>
    </div>
    <div>
      <app-label for="input">Start Time:<span class="text-error-500">*</span></app-label>      
      <app-time-picker
        id="time-picker"
        placeholder="Select time"
        (timeChange)="handleStartTime($event)"/>    
        <p *ngIf="detailForm.get('StartTime')?.invalid && (detailForm.get('StartTime')?.touched || detailForm.get('StartTime')?.dirty)" class="mt-1.5 text-xs text-error-500">Start Time is required.</p>
    </div>
    <div>
      <app-label for="input">End Date (MM/DD/YYYY):<span class="text-error-500">*</span></app-label>
      <app-date-picker
        id="date-picker"       
        placeholder="Select a date"
        (dateChange)="handleEndDateChange($event)"/>
        <p *ngIf="detailForm.get('EndDate')?.invalid && (detailForm.get('EndDate')?.touched || detailForm.get('EndDate')?.dirty)" class="mt-1.5 text-xs text-error-500">End Date is required.</p>
    </div>
    <div>
      <app-label for="input">End Time:<span class="text-error-500">*</span></app-label>      
      <app-time-picker
        id="time-picker"
        placeholder="Select time"
        (timeChange)="handleEndTime($event)"/>    
        <p *ngIf="detailForm.get('EndTime')?.invalid && (detailForm.get('EndTime')?.touched || detailForm.get('EndTime')?.dirty)" class="mt-1.5 text-xs text-error-500">End Time is required.</p>
    </div>
    <div>
      <app-label for="input">Venue (Full Address):<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input formControlName="Venue" type="text" id="input" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="detailForm.get('Venue')?.invalid && (detailForm.get('Venue')?.touched || detailForm.get('Venue')?.dirty)" class="mt-1.5 text-xs text-error-500">Venue address is required.</p>
        </div>
    </div>
    <div>
      <app-label for="input">Program Link: <span> Note:In case of virtual training, please ensure that correct online link is entered here.</span></app-label>
      <div class="relative">
        <input formControlName="WebLink" type="text" id="input" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="detailForm.get('WebLink')?.invalid && (detailForm.get('WebLink')?.touched || detailForm.get('WebLink')?.dirty)" class="mt-1.5 text-xs text-error-500">Programme Link is required.</p>
        </div>
    </div>
    <div>
      <app-label>State:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="stateOptions"
        placeholder="Select an option"
        [value]="selectedStateOption"
        (valueChange)="handleStateSelectChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="detailForm.get('StateName')?.invalid && (detailForm.get('StateName')?.touched || detailForm.get('StateName')?.dirty)" class="mt-1.5 text-xs text-error-500"> Please Select State. </p>
    </div>
    <div>
      <app-label>District:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="districtOptions"
        placeholder="Select an option"
        [value]="selectedDistrictOption"
        (valueChange)="handleDistrictSelectChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="detailForm.get('districtname')?.invalid && (detailForm.get('districtname')?.touched || detailForm.get('districtname')?.dirty)" class="mt-1.5 text-xs text-error-500"> Please Select District. </p>
    </div>
    <div>
      <app-label for="input">Pin Code:<span class="text-error-500">*</span></app-label>
      <div class="relative">
        <input formControlName="PinCode" type="text" id="input" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="detailForm.get('PinCode')?.invalid && (detailForm.get('PinCode')?.touched || detailForm.get('PinCode')?.dirty)" class="mt-1.5 text-xs text-error-500">Please enter a valid Pincode.</p>
        </div>
    </div>
    
    <div>
      <app-label>Coordinator:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="corrdinatorsOptions"
        placeholder="Select an option"
        [value]="selectedCorrdinator"
        (valueChange)="handleCoordinatorsSelectChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="detailForm.get('Coordinator')?.invalid && (detailForm.get('Coordinator')?.touched || detailForm.get('Coordinator')?.dirty)" class="mt-1.5 text-xs text-error-500">Coordinator is required.</p>
    </div>
    <div>
      <app-label>Lead Trainer:</app-label>
      <app-select
        [options]="leadTrainersOptions"
        placeholder="Select an option"
        [value]="selectedLeadTrainer"
        (valueChange)="handleLeadTrainerSelectChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <!-- <p *ngIf="detailForm.get('districtname')?.invalid && (detailForm.get('districtname')?.touched || detailForm.get('districtname')?.dirty)" class="mt-1.5 text-xs text-error-500"> Please Select District. </p> -->
    </div>
    <div>
      <app-label>Organising Partner:<span class="text-error-500">*</span></app-label>
      <app-select
        [options]="organisingPartnerOptions"
        placeholder="Select an option"
        [value]="selectedOrganisingPartners"
        (valueChange)="handleOrganisingPartnerSelectChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
      <p *ngIf="detailForm.get('OrganisingPartner')?.invalid && (detailForm.get('OrganisingPartner')?.touched || detailForm.get('OrganisingPartner')?.dirty)" class="mt-1.5 text-xs text-error-500">Organising Partner is required.</p>
    </div>
    
     <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end">
        <app-button size="md" (btnClick)="clearForm()" variant="outline" [disabled]="isSubmitting">Clear</app-button>
        <app-button size="md" (btnClick)="onSubmit()" [disabled]="isSubmitting">{{ isSubmitting ? 'Processing...' : 'Save Changes' }}</app-button>
      </div>

      
      
  </div>
</app-component-card>
</form>