<div *ngIf="errormessage">
    <app-component-card>      
      <div>
        <app-alert
          variant="error"
          title="Error Message"
          [message]="errormessage"
          [showLink]="false"
        />
      </div>
    </app-component-card>
  </div>
<div *ngIf="successmessage">
    <app-component-card title="Success">
      <div>
        <app-alert
          variant="success"
          title="Success Message"
          [message]="successmessage"
          [showLink]="false"
          linkHref="/"
          linkText="Learn more"
        />
      </div>      
    </app-component-card>
  </div>

  <app-component-card title="Change Password" [headerclsName]="'newcardheader'">
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">
    <div class="space-y-6">
      <div>
      <app-label>Old Password:</app-label>
      <div class="relative">
        <input  formControlName="oldpassword" type="text" id="input" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="resetForm.get('oldpassword')?.invalid &&
                (resetForm.get('oldpassword')?.touched || resetForm.get('oldpassword')?.dirty)" class="mt-1.5 text-xs text-error-500">Old Password is required.</p>
        </div>
    </div>
      <div>
      <app-label>New Password:</app-label>
      <div class="relative">
        <input  formControlName="password" type="text" id="input" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="resetForm.get('password')?.invalid &&
                (resetForm.get('password')?.touched || resetForm.get('password')?.dirty)" class="mt-1.5 text-xs text-error-500">Password is required(Min 4 and Max 10 character).</p>
        </div>
    </div> 
      <div>
      <app-label>Confirm Password:</app-label>
      <div class="relative">
        <input  formControlName="confirmPassword" type="text" id="input" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
        <p *ngIf="resetForm.get('confirmPassword')?.invalid &&
                (resetForm.get('confirmPassword')?.touched || resetForm.get('confirmPassword')?.dirty)" class="mt-1.5 text-xs text-error-500">Confirm password is required,Must match with New Password(Min 4 and Max 10 character).</p>
                <p *ngIf="resetForm.errors?.['passwordsMismatch']" class="mt-1.5 text-xs text-error-500">Passwords do not match.</p>
        </div>
    </div>    
    <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end">
        <app-button size="sm" variant="outline" (btnClick)="clearFields()" [disabled]="isSubmitting">Clear</app-button>
        <app-button size="sm" (btnClick)="onSubmit()" [disabled]="isSubmitting">{{ isSubmitting ? 'Processing...' : 'Create Password' }}</app-button>
      </div> 
    </div>
    
    </div>
    </form>
    
  </app-component-card>