<div *ngIf="successmessage">
    <app-component-card title="Success Alert">
      <div>
        <app-alert
          variant="success"
          title="Success Message"
          [message]="successmessage"
          [showLink]="false"
          linkHref="/"
          linkText="Learn more"
        />
      </div>      
    </app-component-card>
  </div>

  <app-component-card>
    <div class="grid grid-cols-1 gap-6 xl:grid-cols-2">
    <div *ngIf="!helperService.IsCategoryAdmin() && !helperService.IsSuperAdmin()" class="space-y-6">
      <div>
      <app-label>Type</app-label>
      <app-select
        [options]="programmetypeOptions"
        placeholder="Select an option"
        [value]="selectedOptionforprogrammetype"
        (valueChange)="handleProgrammetypeChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
    </div>
    </div>
    <div class="space-y-6">
      <div>
      <app-label>Agency</app-label>
      <app-select
        [options]="agenciesOptions"
        placeholder="Select an option"
        [value]="selectedOptionagency"
        (valueChange)="handleAgencyChange($event)"
        className="dark:bg-dark-900"
      ></app-select>
    </div>
    </div>

    </div>

  </app-component-card>

<div class="overflow-hidden rounded-2xl border border-gray-200 bg-white pt-4 dark:border-white/[0.05] dark:bg-white/[0.03]">
  
  <div class="flex flex-col gap-4 px-6 mb-4 sm:flex-row sm:items-center sm:justify-between">
    <div>
      <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
        Programmes
      </h3>
    </div>
      <div class="flex flex-wrap items-center gap-8">
    <app-radio [id]="'Active'" [name]="'group1'" [value]="'Pending'" [checked]="statusvalue === '2'"
      [label]="'Pending Programmes'" [disabled]="false" (valueChange)="handleRadioChange('2')"/>
    <app-radio [id]="'Approved'" [name]="'group1'" [value]="'Approved'" [checked]="statusvalue === '3'"
      [label]="'Approved Programmes'" [disabled]="false" (valueChange)="handleRadioChange('3')"/>
      <app-radio [id]="'Rejected'" [name]="'group1'" [value]="'Rejected'" [checked]="statusvalue === '5'"
      [label]="'Rejected Programmes'" [disabled]="false" (valueChange)="handleRadioChange('5')"/>
    

  </div>
  </div>
  

  <div class="max-w-full overflow-x-auto">
    <table class="min-w-full" *ngIf="(!dataLoadProgress && dataRow.length)">
      <thead class="px-6 py-3.5 border-t border-gray-100 border-y bg-gray-50 dark:border-white/[0.05] dark:bg-gray-900">
        <tr>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">
            <div class="flex items-center gap-3">              
              <div>
                <span class="font-medium text-gray-500 text-theme-xs dark:text-gray-400">
                 S.No
                </span>
              </div>
            </div>
          </th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Programme ID</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Programme</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Venue</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Agency</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">StartDate</th>
          <th class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">EndDate</th>          
          <th colspan="2" *ngIf="statusvalue === '2'" class="px-6 py-3 font-medium text-gray-500 sm:px-6 text-theme-xs dark:text-gray-400 text-start">Action</th>          
        </tr>
      </thead>
      <tbody>
        @for (row of dataRow; track $index) {
        <tr>
          <td class="px-4 sm:px-6 py-3.5">
            <div class="flex items-center gap-3">              
              <div>
                <span class="block font-medium text-gray-700 text-theme-sm dark:text-gray-400">
                  {{ $index+1 }}
                </span>
              </div>
            </div>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <div class="flex items-center gap-3">              
              <div>
                <a [routerLink]="['/programmedetail']" [queryParams]="{ batchid:row.batchNo }" class="click-link inline-flex items-center gap-1.5 text-sm text-gray-500 dark:text-gray-400">
                  {{ row.batchNo }}
                    
                </a>                
              </div>
            </div>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <p class="text-gray-700 text-theme-sm dark:text-gray-400">
              {{ row.qpName }}
                
            </p>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <p class="text-gray-700 text-theme-sm dark:text-gray-400">
              {{ row.venueName }}
                
            </p>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <p class="text-gray-700 text-theme-sm dark:text-gray-400">
              {{ row.firstName }}
                
            </p>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <p class="text-gray-700 text-theme-sm dark:text-gray-400">
              {{ row.strStartDate }}
                
            </p>
          </td>
          <td class="px-4 sm:px-6 py-3.5">
            <p class="text-gray-700 text-theme-sm dark:text-gray-400">
              {{ row.strEndDate }}
                
            </p>
          </td>
          
          
          
          
          <td class="px-4 sm:px-6 py-3.5" *ngIf="statusvalue === '2'">
            @if (row.id) {
            <button title="Approve" (click)="changeStatus(row,3)">
               <svg fill="#000000" width="1em" height="1em" viewBox="0 0 14 14" role="img" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><path fill="green" d="M13 4.1974q0 .3097-.21677.5265L7.17806 10.329l-1.0529 1.0529q-.21677.2168-.52645.2168-.30968 0-.52645-.2168L4.01935 10.329 1.21677 7.5264Q1 7.3097 1 7t.21677-.5265l1.05291-1.0529q.21677-.2167.52645-.2167.30968 0 .52645.2167l2.27613 2.2839 5.07871-5.0864q.21677-.2168.52645-.2168.30968 0 .52645.2168l1.05291 1.0529Q13 3.8877 13 4.1974z"/></svg>
            </button>
            
            }
          </td>
          <td class="px-4 sm:px-6 py-3.5" *ngIf="statusvalue === '2'">
            @if (row.id) {
            <button title="Reject" (click)="rejectProgramme(row,5)">
              <svg width="1em" height="1em" viewBox="0 0 1024 1024" class="icon"  version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M512 128C300.8 128 128 300.8 128 512s172.8 384 384 384 384-172.8 384-384S723.2 128 512 128z m0 85.333333c66.133333 0 128 23.466667 179.2 59.733334L273.066667 691.2C236.8 640 213.333333 578.133333 213.333333 512c0-164.266667 134.4-298.666667 298.666667-298.666667z m0 597.333334c-66.133333 0-128-23.466667-179.2-59.733334l418.133333-418.133333C787.2 384 810.666667 445.866667 810.666667 512c0 164.266667-134.4 298.666667-298.666667 298.666667z" fill="#D50000" /></svg>
            </button>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
    <app-datanotfound *ngIf="(dataRow.length == 0 && dataLoadProgress == false)"> </app-datanotfound>
    <app-dataloadinprogress *ngIf="dataLoadProgress"></app-dataloadinprogress>
  </div>
</div>

<!-- Modal -->
<app-modal
  [isOpen]="isOpen"
  (close)="closeModal()"
  className="max-w-[700px] m-4"
>
  <div *ngIf="modelItem" class="no-scrollbar relative w-full max-w-[700px] overflow-y-auto rounded-3xl bg-white p-4 dark:bg-gray-900 lg:p-11">
    <div class="px-2 pr-14">
      <h4 class="mb-2 text-2xl font-semibold text-gray-800 dark:text-white/90">
        <!-- {{modelItem.firstName}} -->
      </h4>      
    </div>
    <form class="flex flex-col" (ngSubmit)="handleSave()">
      <div class="custom-scrollbar h-[250px] overflow-y-auto px-2 pb-3">
        <div>
          <h5 class="mb-5 text-lg font-medium text-gray-800 dark:text-white/90 lg:mb-6">
            <!-- {{modelItem.programCode}} -->
          </h5>
          <div class="grid grid-cols-1 gap-x-6 gap-y-5 lg:grid-cols-2">  
            <div>
              <label>Programme ID:</label><br/>              
              <div><app-badge variant="light" color="primary"> {{modelItem.batchNo}} </app-badge></div>
              
            </div>
            <div>
              <label>Programme Name:</label><br/>              
              <div><app-badge variant="light" color="primary"> {{modelItem.qpName}} </app-badge></div>
              
            </div>           
            <div>
              <label>Comments:</label><br/>              
                <div class="relative">
              <input [(ngModel)]="rejectcomment" name="modelpt" maxlength="2000"  type="text" id="input" class="form-control h-11 w-full rounded-lg border appearance-none px-4 py-2.5 text-sm shadow-theme-xs placeholder:text-gray-400 focus:outline-hidden focus:ring-3 dark:bg-gray-900 dark:text-white/90 dark:placeholder:text-white/30">
              <p *ngIf="!rejectcomment && rejectcommentbtnclick" class="mt-1.5 text-xs text-error-500">Comment is required.</p>
              </div>
            </div>          
          </div>
        </div>        
      </div>
      <div class="flex items-center gap-3 px-2 mt-6 lg:justify-end">
        <app-button
          size="sm"          
          (btnClick)="handleSave()"
        >
          Reject
        </app-button>        
      </div>
    </form>
  </div>
</app-modal>