<div class="min-h-screen xl:flex">
  <div>
    <app-participant-sidebar></app-participant-sidebar>
    <app-backdrop></app-backdrop>
  </div>
  <div
    class="flex-1 flex flex-col min-h-screen transition-all duration-300 ease-in-out"
    [ngClass]="{
      'xl:ml-[290px]': (isExpanded$ | async) || (isHovered$ | async),
      'xl:ml-[90px]': !(isExpanded$ | async) && !(isHovered$ | async),
      'ml-0': isMobileOpen$ | async
    }"
  >
    <app-participant-header />
    <div class="flex-1 p-4 mx-auto w-full max-w-(--breakpoint-2xl) md:p-6">
      <router-outlet></router-outlet>
    </div>
    <div class="p-4 mx-auto w-full max-w-(--breakpoint-2xl) md:px-6">
      <app-footer moduleLabel="Training & Capacity Building" />
    </div>
  </div>
</div>
